<div class="container">
    <h1>{{title}}</h1>
    <p>Este software web é desenvolvido utilizando Angular.</p>
    <br>





</div>


<div class="tela">

    {{tela}}
</div>

  <div>
    <button class = "btn btn-default" (click)="clicou1()">1</button>
    <button class = "btn btn-default" (click)="clicou2()">2</button>
    <button class = "btn btn-default" (click)="clicou3()">3</button>
    <button class = "btn btn-default" (click)="clicoumenos()"> - </button>
  </div>
  <div>
    <button class = "btn btn-default" (click)="clicou4()">4</button>
    <button class = "btn btn-default" (click)="clicou5()">5</button>
    <button class = "btn btn-default" (click)="clicou6()">6</button>
    <button class = "btn btn-default" (click)="clicoumais()">+</button>
  </div>
  <div>
    <button class = "btn btn-default" (click)="clicou7()">7</button>
    <button class = "btn btn-default" (click)="clicou8()">8</button>
    <button class = "btn btn-default" (click)="clicou9()">9</button>
    <button class = "btn btn-default" (click)="clicouigual()">=</button>
  </div>
  <div>
    <button class = "btn btn-default" (click)="clicou0()">0</button>
    <button class = "btn btn-default" (click)="clicoulimpa()">Limpar</button>
  </div>

